*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
    font-family: sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.period{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 5px;
}

h4{
    margin-top: 3px;
    margin-bottom: 3px;
}


#container{
    margin: 50px auto 50px 50px;
    width: 645px;
    height: 665px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid brown;
}

/* Start of part 1 */
#part1{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: flex-start;
    background-color: rgb(20, 110, 138);
    padding: 25px;
    min-height: 100%;
    color: rgb(236, 236, 236);
}

#part1 .dp img{
    width: 130px;
    height: 130px;
}

#part1 .name{
    margin-top: 10px;
    margin-bottom: 20px;
}

#part1 .name h1{
    letter-spacing: 0.5px;
}
#part1 .contact-details{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
}

#part1 .contact-details h2,h3{
    letter-spacing: .5px;
}

#part1 .contact-details .contact-title::after{
    content: "";
    position: absolute;
    top: 9%;
    left: 0%;
    width: 155px;
    height: 1.2px;
    background-color: rgb(236, 236, 236);
}

#part1 .address-title, .phone-title, .email-id, .linkedin-title{
    margin-top: 15px;
}

#part1 .additional-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 50px;
}

#part1 .bar{
    margin-bottom: 20px;
}

#part1 .additional-skills h2{
    letter-spacing: .5px;
}

#part1 .additional-skills .bar::after{
    content: "";
    position: absolute;
    top: 16%;
    left: 0%;
    width: 155px;
    height: 1px;
    background-color: rgb(236, 236, 236);
}

#part1 .additional-skills ul{
    margin-left: 10px;
}

/* End of part 1 */

/* Start of part 2 */

#part2{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    justify-content: flex-start;
    padding: 25px;
    max-height: 100%;
}

#part2 .first-child{
    position: relative;
}

#part2 .first-child p{
    margin-top: 10px;
}

#part2 .first-child .summary::after{
    content: "";
    position: absolute;
    margin-top: 6px;
    top: 20%;
    left: 0%;
    background-color: black;
    width: 400px;
    height: 1px;
}


#part2 .second-child{
    position: relative;
    margin-top: 20px;
}

#part2 .second-child .work-title::after{
    content: "";
    position: absolute;
    margin-top: 6px;
    top: 5%;
    left: 0;
    width: 400px;
    height: 1px;
    background-color: black;
}

#part2 .second-child ul{
    margin-left: 10px;
}


#part2 .third-child{
    position: relative;
    margin-top: 20px;
}

#part2 .third-child .education-title::after{
    content: "";
    position: absolute;
    top: 15%;
    left: 0;
    background-color: black;
    width: 400px;
    height: 1px;
}

#part2 .fourth-child {
    position: relative;
    margin-top: 20px;
}

#part2 .fourth-child .language-title::after{
    content: '';
    position: absolute;
    background-color: black;
    top: 23%;
    left: 0%;
    width: 400px;
    height: 1px;
}

#part2 .fourth-child h5{
    margin-top: 20px;
}

#part2 .fifth-child{
    position: relative;
    margin-top: 20px;
}

#part2 .fifth-child .reference::after{
    content: '';
    position: absolute;
    background-color: black;
    width: 400px;
    height: 1px;
    top: 20%;
    left: 0;
}

#part2 .fifth-child h6{
    margin-top: 10px;
    font-weight: bold;
    font-size: 1rem;
}

/* End of part 2 */






/*Start of Media Queries*/

@media screen and (max-width: 450px){

#container{
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 5px;
}

#part1{
    flex-basis: 50%;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#part2{
    flex-basis: 50%;
    height: 100%;
    font-size: 8px;
}

#part2 .first-child .summary::after{
    width: 100%;
}

#part2 .second-child .work-title::after{
    width: 100%;
}

#part2 .third-child .education-title::after{
    width: 100%;
}

#part2 .fourth-child .language-title::after{
    width: 100%;
}

#part2 .fifth-child .reference::after{
    width: 100%;
}



}






/* End of Media Queries */