/*   CSS-Tricks Example  by Chris Coyier  http://css-tricks.com */

.meter.orange.nostripes {
}

pre {
  background: black;
  text-align: left;
  padding: 20px;
  margin: 1 auto 30px auto;
}

.meter.orange.nostripes {
}

